body {
  position: absolute;
  display: block;
  background: #F7F2EB url('bg.jpg') center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin:0;padding:0;
  font-family: 'Muli', sans-serif;
}

@media screen and (max-device-width: 480px),
       screen and (-webkit-min-device-pixel-ratio: 2),
       screen and (device-width: 768px) {
  body {
    -webkit-text-size-adjust:none;
  }
}

a { text-decoration: none; }
h1 {
  font-size: 4.6em;
  line-height: 0.8em;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 0 5px 0 #E0DDD5;
  color: #3B3831;
  -webkit-transition: 0.1s; /* Safari */
  transition: 0.1s;
}
h1:hover {
  color: #F7DA59;
  margin-top: 46px;
  padding-bottom: 3px;
  text-shadow: 0 3px 0 #7D745C;
}

.rotate {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  color: #29251B;
  text-shadow: 1px 1px 0 #FAF6ED;
}

.center {
  position: absolute;
  width:100%;
  height:300px;
  text-align:center;
  margin-top:-150px;
  top:50%;
}

.footer {
  position:fixed;
  bottom:12px;
  width:100%;
  height:auto;
  color: rgba(0,0,0,0.8);
  text-align:center;
}
